.buy-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    padding: 40px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}